.field {
    width: 40%;
    margin: 0 auto;
    border: 3px solid lightcyan;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    background: lightslategray;
}